{%extends "layout.html"%}
{%block content%}
<h3>Lag en henvendelse</h3>
<form action="{{ url_for('problemer') }}" method="post">
        <label for="brukernavn">Navn:</label>
        <input type="text" name="helenavn" required>
        <label for="passord">Telfonnr:</label>
        <input type="text" name="telenr" required>
        <label for="brukernavn">Kort beskrivende tekst om problmete ditt:</label>
        <input type="text" name="kortbes" required>
        <label for="brukernavn">Selve beskrivelsen om problmet ditt:</label>
        <textarea name="langbes" rows="5" cols="80"></textarea>
        
        
        <input type="submit" value="Send Inn">
</form>
{%endblock%}