{%extends "layout.html"%}
{%block content%}
<p> Velkommen til vår nettjeneste for håndtering av henvendelser og problemer. Denne plattformen er designet for at du enkelt kan registrere og følge opp dine henvendelser. Her kan du rapportere problemer, og vårt team vil jobbe med å løse dem så raskt som mulig.</p>


<p>For brukere med admin-tilgang vil du kunne se uløste henvendelser og ta tak i dem for å markere dem som "Under arbeid". Dette gir deg muligheten til å prioritere og håndtere problemene mer effektivt. </p>

<p>Hvis du har spørsmål eller trenger hjelp, er du velkommen til å kontakte oss. Vi er her for å hjelpe deg med dine henvendelser.</p>

<p>Velkommen til vår nettside!</p>

{%endblock%}