<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <title>Helpdesk</title>
</head>
<body>
  <header>
    <h1>Hello, world</h1>
    <p>Welcome to my website!</p>
    <nav>
        <a href="henveldseler">Hengvlser</a>
        <a href="blog">BLog</a>
    </nav>
  </header>

  <main>
    {%block content%}    

    {%endblock%}
  </main>

  <footer>
    <p>Jane Smith's website.</p>
  </footer>
</body>
</html>