<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <title>Helpdesk</title>
</head>
<body>
  <header>
    <h1>Helpdesk</h1>
    {% if logged_in %}
      {% if username %}
      <span>Welcome, {{ username }} | </span>
      <form action="{{ url_for('logout') }}" method="post">
        <button type="submit" class="link-button">Log Out</button>
      </form>
    
      {% endif %}
    
      <nav>
          <a href="/">Hjem</a>
          <a href="/problemer">Hengvlser</a>
          {% if admin %}
          <a href="/ulost">Uløst</a>
          {% endif %}
          {% if admin %}
          <a href="/ulost">Under arbeid</a>
          {% endif %}
      </nav>
    {% endif %}
  </header>

  <main>
    {%block content%}    

    {%endblock%}
  </main>

  <footer>
    <p>Helpdesk.</p>
  </footer>
</body>
</html>