<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <title>Helpdesk</title>
</head>
<body>
  <header>
    <h1>Hello, world</h1>
    {% if username %}
    <span>Welcome, {{ username }} | </span>
    <a href="{{ url_for('logout') }}">Log Out</a>

    {% endif %}

    <nav>
        <a href="/">Hjem</a>
        <a href="/problemer">Hengvlser</a>
        {% if %}
    </nav>
  </header>

  <main>
    {%block content%}    

    {%endblock%}
  </main>

  <footer>
    <p>Helpdesk.</p>
  </footer>
</body>
</html>