{%extends "layout.html"%}
{%block content%}
<h3>Henvendelser under arbeid</h3>

{% for under in under %}
<details>
	<summary>{{under[1]}}'s henvendelse. "{{under[6]}}"</summary>
	<address>
		Av: {{under[1]}} <br>
		Telefonnr: {{under[2]}} <br>
		E-post: {{under[7]}} <br>
        Starta: 
        {% for arbeid_row in arbeid_data %}
            {% if arbeid_row[0] == under[0] %}
                {{ arbeid_row[2] }}
            {% endif %}
        {% endfor %}
        <br>
        Tekniker som jobber på den: 
        {% for arbeid_row in arbeid_data %}
            {% if arbeid_row[0] == under[0] %}
                {{ arbeid_row[1] }}
            {% endif %}
        {% endfor %}
		<hr>
	</address>
	<p>{{under[3]}}</p>
	<hr>
	<form action="{{ url_for('fulfor')}}" method="POST">
		<p>Hvordan den ble løst:</p>
		<input type="hidden" name="problem_id" value="{{ under[0] }}">
		<textarea name="losning" rows="5" cols="80"></textarea>
		<input type="submit" value="Fulfør">
	</form>
</details>
{% endfor %}
{%endblock%}